@{
    ViewData["Title"] = "Home Page";
}
<app>
    <div class="row" style="padding-left: 20px;">
        <div class="col-xs-12">
            <div style="margin-top: 50px; text-align: center;">
                <img height="100" src="https://www.voki.com/images/ajax-loader.gif" />
                <div style="font-size: 18px;">Loading...</div>
            </div>
        </div>
    </div>
</app>
@*<app asp-prerender-module="ClientApp/dist/main-server">Loading...</app>*@

<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
