<h2>Create Match</h2>
<form #f="ngForm" (ngSubmit)="saveMatch(f.value)">
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="form-group">
                <label class="control-label">Opponent 1</label>
                <select #op1 class="form-control" name="User1Id" [(ngModel)]="User1Id">
                    <option value="0" disabled>Choose an opponent...</option>
                    <option *ngFor="let user of users" [value]="user.UserId">{{user.FirstName}} {{user.LastName}}</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Opponent 2</label>
                <select #op2 class="form-control" name="User2Id" [(ngModel)]="User2Id">
                    <option value="0" disabled>Choose an opponent...</option>
                    <option *ngFor="let user of users" [value]="user.UserId">{{user.FirstName}} {{user.LastName}}</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Date</label>
                <input [(ngModel)]="Date" name="Date" class="form-control" type="date">
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save Match</button>
    <button type="button" class="btn btn-default" [routerLink]="['/matches']">Cancel Match</button>
</form>