<h2>Create Match</h2>
<form #f="ngForm" (ngSubmit)="saveMatch(f.value)">
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="form-group" [class.has-error]="hasUser1IdError">
                <label class="control-label">Player 1</label>
                <em *ngIf="hasUser1IdError">Required</em>
                <select #op1 class="form-control" name="User1Id" [(ngModel)]="User1Id" 
                        (blur)="validateUser1(op1.value)" 
                        (change)="validateUser1(op1.value)">
                    <option value="0" disabled>Choose an opponent...</option>
                    <option *ngFor="let user of user1Users" [value]="user.UserId">{{user.FirstName}} {{user.LastName}}</option>
                </select>
            </div>
            <div class="form-group" [class.has-error]="hasUser2IdError">
                <label class="control-label">Player 2</label>
                <em *ngIf="hasUser2IdError">Required</em>
                <select #op2 class="form-control" name="User2Id" [(ngModel)]="User2Id" 
                        (blur)="validateUser2(op2.value)"
                        (change)="validateUser2(op2.value)">
                    <option value="0" disabled>Choose an opponent...</option>
                    <option *ngFor="let user of user2Users" [value]="user.UserId">{{user.FirstName}} {{user.LastName}}</option>
                </select>
            </div>
            <div class="form-group" [class.has-error]="d.invalid && d.touched">
                <label class="control-label">Date</label>
                <em *ngIf="d.invalid && d.touched">Required</em>
                <input #d="ngModel" required [(ngModel)]="Date" name="Date" class="form-control" type="date">
            </div>
            <div class="form-group">
                <label class="control-label">Match Type</label>
                <select class="form-control" name="MatchTypeId" [(ngModel)]="MatchTypeId">
                    <option value="1">Casual</option>
                    <option value="2">APA</option>
                </select>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="f.invalid || isFormInvalid()">Save Match</button>
    <button type="button" class="btn btn-default" [routerLink]="['/matches']">Cancel Match</button>
</form>