<h3 *ngIf="!pageLoaded">Loading game...</h3>
<div *ngIf="pageLoaded">
    <h2>Game # {{game?.Number}}</h2>
    <div *ngIf="isEdit == false">
        <h3>{{game?.Match.Title}}</h3>
        <div class="row">
            <div class="col-xs-4">
                <div class="bold">DATE</div>
                <div class="header-minor">{{game?.Match.Date | date: 'MM/dd/yyyy'}}</div>
            </div>
            <div class="col-xs-4">
                <div class="bold">WINNER</div>
                <div class="header-minor">{{game?.WinnerName}}</div>
            </div>
            <div class="col-xs-4">
                <div class="bold">INNINGS</div>
                <div class="header-minor">{{game?.Innings}}</div>
            </div>
        </div>
        <h4>Game Statistics</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Defensive Shots</th>
                    <th>Time Outs</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let gameUser of gameUsers">
                    <td>{{gameUser.UserName}}</td>
                    <td>{{gameUser.DefensiveShots}}</td>
                    <td>{{gameUser.Timeouts}}</td>
                </tr>
            </tbody>
        </table>
        <hr />
        <button class="btn btn-primary" (click)="toggleEdit()">Edit Game</button>
        <button class="btn btn-default" (click)="goToMatch()">Back to Match</button>
        <button class="btn btn-danger" (click)="deleteGame()">Delete Game</button>
    </div>
    <div *ngIf="isEdit == true">
        <form #f="ngForm" (ngSubmit)="saveGame(f.value)">
            <input type="hidden" name="GameId" [ngModel]="game.GameId">
            <div class="small-header">INNINGS</div>
            <button type="button" class="btn btn-default btn-custom" (click)="decrementInnings()">
                <span class="glyphicon glyphicon-minus-sign"></span>
            </button>
            <span class="text-custom" ngDefaultControl name="Innings" [(ngModel)]="game.Innings">{{game.Innings}}</span>
            <button type="button" class="btn btn-default btn-custom" (click)="incrementInnings()">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </button>
            <hr />
            <div class="row">
                <div class="col-xs-6" *ngFor="let gameUser of gameUsers">
                    <input type="hidden" name="GameUserId" [ngModel]="gameUser.GameUserId" />
                    <h4>{{gameUser.UserName}}</h4>
                    <div class="small-header">DEFENSIVE SHOTS</div>
                    <button type="button" class="btn btn-default btn-custom" (click)="gameUser.decrementDefensive()">
                        <span class="glyphicon glyphicon-minus-sign"></span>
                    </button>
                    <span class="text-custom" ngDefaultControl name="DefensiveShots" [(ngModel)]="gameUser.DefensiveShots">{{gameUser.DefensiveShots}}</span>
                    <button type="button" class="btn btn-default btn-custom" (click)="gameUser.incrementDefensive()">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                    </button>
                    <div class="small-header">TIMEOUTS</div>
                    <button type="button" class="btn btn-default btn-custom" (click)="gameUser.decrementTimeout()">
                        <span class="glyphicon glyphicon-minus-sign"></span>
                    </button>
                    <span class="text-custom" ngDefaultControl name="Timeouts" [(ngModel)]="gameUser.Timeouts">{{gameUser.Timeouts}}</span>
                    <button type="button" class="btn btn-default btn-custom" (click)="gameUser.incrementTimeout()">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                    </button>
                </div>
            </div>
            <hr />
            <div class="small-header">WINNER</div>
            <div class="row">
                <div class="col-sm-6 col-xs-12" *ngFor="let user of opponents">
                    <div class="well well-sm well-selection" [class.selected]="user.IsSelected" (click)="selectWinner(user)">
                        {{user.FirstName}} {{user.LastName}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="small-header">WIN TYPE</div>
                    <div *ngIf="!selectedWinner">First choose a winner...</div>
                    <div *ngIf="selectedWinner">
                        <div class="radio">
                            <label>
                                <input type="radio" name="WinType" [(ngModel)]="game.WinType" [value]="1" />
                                Standard
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="WinType" [(ngModel)]="game.WinType" [value]="2" />
                                Scratched on 8-ball
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="WinType" [(ngModel)]="game.WinType" [value]="3" />
                                8-ball - wrong pocket
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="WinType" [(ngModel)]="game.WinType" [value]="4" />
                                Early 8-ball
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="WinType" [(ngModel)]="game.WinType" [value]="5" />
                                Pocketed 8-ball after foul on the cue ball
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="WinType" [(ngModel)]="game.WinType" [value]="6" />
                                Did not mark 8-ball pocket
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="small-header">BADGES</div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="Badge" [(ngModel)]="game.Badge" [value]="null" />
                            None
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="Badge" [(ngModel)]="game.Badge" [value]="1" />
                            8-ball on the break
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="Badge" [(ngModel)]="game.Badge" [value]="2" />
                            8-ball break and run
                        </label>
                    </div>
                </div>
            </div>
            <hr />
            <button type="submit" class="btn btn-full btn-primary">Save</button>
            <button type="button" class="btn btn-full btn-default" (click)="cancel()">Cancel</button>
        </form>
    </div>
</div>