<spinner *ngIf="!pageLoaded" [loadingText]="'Loading matches...'"></spinner>
<div *ngIf="pageLoaded">
    <h1>Matches</h1>
    <button class="btn btn-primary" [routerLink]="['/matches/new']">Add Match</button>
    <hr>
    <div *ngIf="!viewAsList" class="row">
        <div class="col-md-6" *ngFor="let match of matchClasses">
            <div class="well well-sm" [routerLink]="['/matches', match.match.MatchId]">
                <div class="row minheight">
                    <div class="col-xs-10 minheight">
                        <h4>{{match.match.Title}}</h4>
                        <div style="font-size: 16px">{{match.match.Date | date:'MM/dd/yyyy'}} | {{match.match.MatchType}}</div>
                        <div style="font-size: 16px">{{match.totalGames()}} Game{{match.totalGames() != 1 ? 's' : ''}} Played</div>
                    </div>
                    <div class="col-xs-2 minheight icon" style="text-align: right;">
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span *ngIf="match.totalGames() == 0">No games played</span>
                        <match-progress *ngIf="match.totalGames() > 0" [match]="match"></match-progress>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>