.well h3{
    margin-top: 0;
    margin-bottom: 0;
}

.well:hover{
    background-color: #5d5d5d;
    cursor: pointer;
    color: white;
}

.header-sub{
    font-size: 24px;
}

.header-minor{
    font-size: 18px;
}

.bold{
    font-weight: bold;
}

.row.minheight {
    min-height: 50px;
}

    .row.minheight > .minheight {
        min-height: 50px;
    }

.minheight.icon {
    padding-top: 15px;
}

.well-sm{
    padding-right: 15px;
}

.custom{
    border: solid 1px gray;
    min-height: 50px;
    background-color: lightgray;
    padding: 10px;
    border-radius: 4px;
    color: white;
    font-size: 18px;
}

.player1 {
    background-color: #5cb85c;
}

@media(max-width: 767px){
    .player2 {
        margin-top: 5px;
    }
}

.player2 {
    background-color: #d9534f;
}

.points{
    font-weight: bold;
    text-align: right;
}