.well h3{
    margin-top: 0;
    margin-bottom: 0;
}

.well:hover{
    background-color: #5d5d5d;
    cursor: pointer;
    color: white;
}

.header-sub{
    font-size: 24px;
}

.header-minor{
    font-size: 18px;
}

.bold{
    font-weight: bold;
}

.row.minheight {
    min-height: 50px;
}

    .row.minheight > .minheight {
        min-height: 50px;
    }

.minheight.icon {
    padding-top: 15px;
}

.well-sm{
    padding-right: 15px;
}